body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 154, 162);
    overflow: hidden;
    max-width: 100vw;
}
.img-1 {
    
    position: absolute;
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    margin-top: 150px;
    left: 0;
}
.img-2 {
    position: absolute;
    width: 450px; 
    height: 450px; 
    top: 50px; 
    right: 700px; 
    cursor: pointer;
    transform-origin: center center;
    overflow: hidden;
    z-index: 10;
}

.img-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease; 
}


@keyframes rotateAndScale {
    0% { transform: rotate(0deg) scaleX(1); }
    25% { transform: rotate(90deg) scaleX(1.3); }
    50% { transform: rotate(180deg) scaleX(1.6); }
    75% { transform: rotate(270deg) scaleX(1.3); }
    100% { transform: rotate(360deg) scaleX(1); }
}
.animated-photos {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 430px;
    height: 430px;
    z-index: 100;
}

.photo-container {
    position: absolute;
    width: 210px;
    height: 210px;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}


.photo-container:nth-child(1) { top: 100px; right: -130px; }
.photo-container:nth-child(2) { top: 220px; right: 10px; }
.photo-container:nth-child(3) { top: 80px; right: 150px; }
.photo-container:nth-child(4) { top: -10px; right: 10px; }

.text {
    font-family: 'Roboto';
    font-size: 96px;
    left: 200px;
}
.img-3{
    position: absolute;
    width: 600px; 
    height: 800px; 
    object-fit: cover;
    top: 50px;
    right: 70px;
    cursor: pointer;
    transform-origin: bottom center; 
    z-index: 10;
}

.img-3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@keyframes swingLong {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}